 <header>  
   <div class = "top_menu">
    <div class="logo">
      <a href="#"><img src = "../assets/images/common/whitelogo.png" style = "height: 75px;" /></a>
    </div>
    <div class = "right_side">
       <div (click) = "showSubmenu()" class = "submenu"><img src ="../../assets/images/common/burger.png"></div>
       <div class="menu" *ngIf = "!showSub">
       <div><a routerLink = "/">{{dictionary[language].home}}</a></div>
       <div><a routerLink = "/shop">{{dictionary[language].shop}}</a></div>
       <div><a routerLink = "/about">{{dictionary[language].notice}}</a></div>
       <div class="translate" (click) = "showLangList()">
         <img src="../assets/images/common/translate.png" style="height: 40px;">
         <ul class="trans_list" [hidden] = "!showLang">
          <li (click) = "setLang('eng')">English</li>
          <li (click) = "setLang('france')">France</li>
         </ul>
        </div>  	
      </div>
     <div class="row">
      <div><img src="../assets/images/common/top_menu_thing.png"></div>
      <div><img src="../assets/images/common/top_menu_thing2.png"></div>
      <div><img src="../assets/images/common/top_menu_thing3.png"></div>
     </div>    
    </div>
   </div>

   <div class = "ribbon">
    <ul class = "category_list">
      <li>
        <div>{{dictionary[language].category}} <img src="../assets/images/common/arrowDown.png" class = "arrow_down"></div>      
        <ul class = "drop_list">
         <li *ngFor = "let category of categoryList">
           <a *ngIf = 'language == "eng"'    [routerLink] = "'/categories/'+category.id">{{category.english}}</a>
           <a *ngIf = 'language == "france"' [routerLink] = "'/categories/'+category.id">{{category.france}}</a>           
         </li>
        </ul>
      </li>
    </ul>
    <div class = "searchContainer">
     <input type = "text" class = "search" placeholder = {{dictionary[language].search}}>
    </div>
    <a routerLink = '/card' >
     <div><img class = "shop_image" src = "../assets/images/common/shop_image.png"/></div>
    </a>
   </div>
       <!-- <li><img src="images/translate.png"></li> -->
   </header>