 <header>  
   <div class = "top_menu">
    <div class="logo">
      <a href="#"><img src = "../assets/images/common/whitelogo.png" style = "height: 75px;" /></a>
    </div>
    <div class = "right_side">
      <div class="menu">
       <div><a routerLink = "/">home</a></div>
       <div><a routerLink = "/shop">shop</a></div>
       <div><a routerLink = "/about">about</a></div>
       <div><img src="../assets/images/common/translate.png" style="height: 40px;"></div>  	
      </div>
     <div class="row">
      <div><img src="../assets/images/common/top_menu_thing.png"></div>
      <div><img src="../assets/images/common/top_menu_thing2.png"></div>
      <div><img src="../assets/images/common/top_menu_thing3.png"></div>
     </div>    
    </div>
   </div>

   <div class = "ribbon">
    <ul class = "category_list">
      <li>
        <div>Categories <img src="../assets/images/common/arrowDown.png" class = "arrow_down"></div>      
        <ul class = "drop_list">
         <li *ngFor = "let category of categoryList">
           <a [routerLink] = "'/categories/'+category.id">{{category.english}}</a>
         </li>
        </ul>
      </li>
    </ul>
    <div style = "width:30%;">
     <input type = "text" class = "search" placeholder="Search...">
    </div>
    <a routerLink = '/card' >
     <div><img style = "height:45px;" src = "../assets/images/common/shop_image.png"/></div>
    </a>
   </div>
       <!-- <li><img src="images/translate.png"></li> -->
   </header>