<header>
  <div class="logo">
  	<img src = "../assets/images/common/logo.jpg" style = "height: 75px;" />
  </div>
  <div class = "right_side">
   <div class="menu">
  	<div><a routerLink = '/index'>home</a></div>
  	<div><a routerLink = '/categories'>shop</a></div>
  	<div><a href = "../about/about.component.html">about</a></div>
  	<div><img src="../assets/images/common/translate.png" style="height: 40px;"></div>  	
  </div>
  <div class="things">
  	<div><img src="../assets/images/common/top_menu_thing.png"></div>
  	<div><img src="../assets/images/common/top_menu_thing2.png"></div>
  	<div><img src="../assets/images/common/top_menu_thing3.png"></div>
  </div>
  	 <!-- <li><img src="images/translate.png"></li> -->
  </div>
 </header>
 <div class="ribbon">
    <ul class="categories">
        <li>
         <div>Categories<img style="margin-left: 10px;" src="../assets/images/common/arrowDown.png"></div>
         <ul>
          <li *ngFor = "let categ of categoryList">
           <a [routerLink] = "'/categories/'+categ.id">{{categ.english}}</a>
          </li>
         </ul>
        </li>
      </ul>  
  <div class="search_box"><input type="text" placeholder="Search..."></div>
  <div class="shop_ticket"><img src="../assets/images/common/shop_image.png" style="height: 45px;"></div>
 </div>