header
{
 display: flex;
 justify-content: space-around;
}
.logo
{
 padding:15px;
}
.right_side
{
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 padding-top: 30px;
}
.right_side div
{
 justify-content: space-around;
 text-transform: uppercase;
 align-items: center;
 font-size:24px;
 color:black;
}
.menu
{
 display: flex;
 justify-content: flex-end;
 width:450px;
 align-items: flex-end;
}
.menu div a
{
 text-decoration: none;
 color:black;
}
.menu div a:hover
{
 text-decoration: underline;
}
.things
{
 margin-top:15px;
 display: flex;
}

.ribbon
{
 display: flex;
 width: 100%;
 height: 75px;
 margin-top:-8px; 
 background-color: black;
 justify-content: space-around;
 align-items: center;
}
.ribbon > .categories
{
 color:white;
 text-transform: uppercase;
 font-size: 18px;
}
.ribbon > .search_box
{
 flex-basis: 500px;
}
.ribbon > .search_box input
{
 width: 100%;
 font-size: 18px;
 font-style: italic;
}
.categories
{
 display: flex;
 flex-direction: column;
 color:white;
 text-transform: uppercase;
 font-size: 24px;
 margin-top: -15px;
 list-style: none;
}
.categories:hover
{
 cursor: pointer;
}
.categories > li
{
 display: block;
 position:absolute;
 height:250px;
 z-index:555;
}
.categories > li > ul
{
 display: none;
 background-image: url('../../assets/images/common/ulBack.png');
 background-repeat: no-repeat;
 background-size: cover;
 border-radius: 2px;
 margin:0;
 padding:5px;
 margin-top:10px;
 list-style: none;
 position: absolute;
 color:white;
}
.categories > li > ul
{
 width: 100%;
}
.categories > li > ul li
{
 padding-top: 15px;
}
.categories li:hover > ul
{
 display: block;
}
.categories > li > ul li:hover
{
 border-bottom: 1px solid black;
}