.row
{
 display: flex;
 justify-content: center;
 align-items: center;
}
.contact_us
{
 text-transform: uppercase;
 font-size: 18px;
 background-color: #e14521;
 height: 50px;
 text-align: center;
}
@media only screen and (max-width: 500px) {    
 .details img
 {
  padding:10px 15px;
  width:24%;
 }
}
.details img
{
 padding:10px 15px;
}
.join
{
 flex-direction: column;
 background: black;
 border-top: 1px solid #e14521;
 padding:15px;
}
.join div
{
 padding:5px 0;
}
.join_text
{
 font-size:18px;
 color:white;
 text-transform: uppercase;
 text-align: center;
}