<div class="row contact_us">
  <div>
    contact us to <span style="font-style: italic; color:white; font-size:20px; font-weight: bold;">buy@lightrider.store</span>
  </div>
 </div>
 <div class="row details" style="background: black;">
  <img src="./assets/images/common/save.png">
  <img src="../assets/images/common/all_world.png">
  <img src="../assets/images/common/return.png">
 </div>
 <div class="row join">
  <div class="join_text">join to receive notification by e-mail about our new posts</div>
  <div>
   <input type="text" placeholder="email@com" style="width:250px;"><button>ok</button>
  </div>
 </div>