main
{
 position: absolute;
 left: 200px;
 top:50px;
 width:85%;
 z-index:9999; 
 background: white;
}
.listOF
{
 float:left;
 width:400px;
 height:auto;
}
.listOF ul li
{
 margin-top:25px;
 font-size:18px;
 padding:15px;
 font-family: 'Open Sans';
}
.listOF ul li:hover
{
 background-color: black;
 cursor: pointer;
 color:white;
}
.goodsEdit
{
 float:left;
 width:500px;
 padding:25px;
 border:1px solid black;
}
.goodsEdit li
{
 display: inline-block;
 font-size:18px;
 font-family: 'Open Sans';
 margin-right: 45px;
 cursor: pointer;
}
.nameInput
{
 display: block;
 margin:50px 0;
 font-family: 'Open Sans';
 font-size: 18px;
}
.param
{
 display: inline;
 font-size:16px;
 font-family: 'Open Sans';
}