<body style="background-image:url('images/back2.png');">
  <!--  <img src="images/logo.png" style="display:block; margin:auto; padding-top: 13%;"
       id="logo_start"> -->
  <nav class="navigation">
   <div class="logo">
    <img src="images/logo.png" style="height:50px;">
   </div>
   <div class="navigation_menu">
    <div>home</div>
    <div>shop</div>
    <div>about</div>
    <div><img src="images/telega.png" style="height: 25px;"></div>
    <div><img src="images/translate.png" style="height: 25px;"></div>
   </div>
   <div class="cheker"></div>
  </nav>
  
  
   <div class = "categories">
     <ul class="cat_list">
      <li>rings</li>
      <li>chains</li>
      <li>suspension</li>
      <li>bracelets</li>
      <li>buclets</li>
     </ul>
  
     <ul class="production">
      <li>925 silver sample</li>
      <li>use of technologies <br/>3d printer</li>
      <li style="margin-bottom: 0;">full production cycle</li>
     </ul>
  
   </div>
  
  <div style="display: flex; justify-content: center;">
   <section class="stepBlck">
     <div>
      <img src="images/step1.png" style="width: 100%;">
     </div> 	 	
     <div style="align-self: flex-end;">
      <img src="images/step2.png" style="width: 100%;">
     </div> 		
     <div>
      <img src="images/step3.png" style="width: 100%;">
     </div> 	 	
     <div style="align-self: flex-end;">
      <img src="images/step4.png" style="width: 100%;">
     </div> 	
     <div>
      <img src="images/step5.png" style="width: 100%;">
     </div> 		
   </section>	 
  </div>
   <section class="for_button">
     <a href="#">Go to shop</a>	
   </section>
  
   <section class = "about">
    <h1 style="text-align: center;">About us</h1>
    <div class="about_text">
          <p>Light Rider - products from silver: rings, hangers, chains, bracelets and buckles. Our passion is motorcycles and stylish silver jewelry for men. Bold design, attention to detail and the highest quality silver - 925 tests are combined in our products. Each product has its own legend and philosophy.</p>
          <p>We are proud of the Ukrainian production. Lifetime warranty on products.</p>
    </div>
   </section>
   
   <section class="email_section">
    <div class="keep">Keep abreast of all new products</div>
    <div class="input_email"><input type="text" placeholder="Enter your e-mail"></div>
    <div><a class="sub_email">submit</a></div>
   </section>
  <footer class="foot">
   <div><img src="images/logo.png" style="height:75px;"></div>
   <div>0 864 648 857</div>
   <div>call back</div>
   <div>24/7</div>
  </footer>
  </body>