<body>
 <div class="wurma" *ngIf="showWurma">
  <img src="../../assets/images/common/bigBlackLogo.png">
 </div>	
<div class="header">
 <div style="background-image:white;">
  <img src="../../assets/images/common/blacklogo.png" class="logo_image">
 </div>
 <div class="rightmenu">
  <ul class="list">
  	<li><a routerLink = "/">{{dictionary[language].home}}</a></li>
  	<li><a routerLink = "/shop">{{dictionary[language].shop}}</a></li>
  	<li><a routerLink = "/about">{{dictionary[language].notice}}</a></li>
  	<li>
     <a routerLink = "/card">
      <img src="../../assets/images/common/telega.png" style="height: 25px;">
     </a>
     </li>
  	<li (click) = "showLangList()">
     <img src="../../assets/images/common/home_trans.png" style="height: 25px;">
     <ul class = "trans_list" [hidden] = "!showLang">
     <li (click) = "setLang('eng')">English</li>
     <li (click) = "setLang('france')">France</li>
     </ul>
    </li>
  </ul>
 </div>
</div>
<div>

 <div class="row">
  <ul class="categ_block">
   <li>{{dictionary[language].rings}}</li>
   <li>{{dictionary[language].chains}}</li>
   <li>{{dictionary[language].suspension}}</li>
   <li>{{dictionary[language].bracelet}}</li>
   <li>{{dictionary[language].boucles}}</li>
  </ul>
 
  <ul class="detail_block">
   <li>{{dictionary[language].sample}}</li>
   <li>{{dictionary[language].printer}}</li>
   <li>{{dictionary[language].cycle}}</li>
  </ul>

 </div>

 <!-- <div class="column">
  <div style="align-self: flex-start;">
   <img src="../../assets/images/common/step1.png">
  </div>  
  <div style="align-self: flex-end;">
   <img src="../../assets/images/common/step2.png">
  </div>  
  <div style="align-self: flex-start;">
   <img src="../../assets/images/common/step3.png" >
  </div>  
  <div style="align-self: flex-end;">
   <img src="../../assets/images/common/step4.png" >
  </div>  
  <div style="align-self: flex-start;">
   <img src="../../assets/images/common/step5.png" >
  </div>  
 </div> -->

 <div class="row centered">
  <a routerLink = "/shop" class="go_to">
   <div>{{dictionary[language].go}}</div>
  </a>
 </div>
 
 <div class="column">
  <div class="about_us">{{dictionary[language].about}}</div>
  <div class="about_text">
   <p>Rebel Club Jewelry - {{dictionary[language].uniq}}</p>
   <p>{{dictionary[language].text}}</p>
  </div>
 </div>

 <div class="red_back">
  <div class="keep">keep abreast of all new products</div>
  <div class="email">
   <input type="text" placeholder="Enter your e-mail">
  </div>
  <div class="submit">
   <button>submit</button>
  </div>
 </div>

 <!-- <div class="column">
  <img class="imager" src="../../assets/images/common/blacklogo.png" style="width:250px;">
  <div class="contact">0 864 648 857</div>
 </div> -->
</div>
</body>