<div class = "row">
	
	 <div style="align-self: flex-end;">
	  <img src = "../assets/images/common/small.jpg" />
	 </div>
	
	 <div>
	  <img src = "../assets/images/common/large.png" />
	 </div>
	
	</div>
	
	<div class = "row">
	 
	 <div>
	  <img src="../assets/images/common/middle2.jpg">
	 </div>
	
	 <div>
	  <img src="../assets/images/common/middle.png">
	 </div>
	
	</div>
	
	 <div class = "headers underline">
		 new arrivals
	 </div>
	
	 <div class = "row">
	  <a href ="#">
	  <div class = "goodItem">
		  <img src="../assets/images/common/goodItem.png">
		  <div>Cross Rose</div>
		  <div>179$</div>
	  </div>
	  </a>
	  <a href ="#">
	  <div class = "goodItem">
		  <img src="../assets/images/common/goodItem.png">
		  <div>Cross Rose</div>
		  <div>179$</div>
	  </div>
	  </a>
	  <a href ="#">
	  <div class = "goodItem">
		  <img src="../assets/images/common/goodItem.png">
		  <div>Cross Rose</div>
		  <div>179$</div>
	  </div>
	  </a>
	  <a href ="#">
	  <div class = "goodItem">
		  <img src="../assets/images/common/goodItem.png">
		  <div>Cross Rose</div>
		  <div>179$</div>
	  </div>
	  </a>
	 </div>
	<div class="headers">
	 <a href= "#">view more</a>
	</div>