main
{
 display: flex;
 flex-direction: column;
 transition:0.5s;
 animation:fader 1s;
}
.row
{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;  
 margin-top: 5px;
 align-items: flex-end;
}
.row div
{
 padding:0 5px;
 transition: all 0.5s;
}
.row div:hover
{
 box-shadow:2px 8px 25px black;
 transform: scale(.99);
 cursor: pointer; 
}
.new_arrivals
{
 display: flex;
 justify-content: center;
 align-items: center;
 text-transform: uppercase;
 text-decoration: underline;
 margin-top: 45px;
 font-size:24px;
 font-weight: bold;
}
.arrivals_list
{
 display: flex;
 justify-content: center;
 align-items: center;
}
.item_list
{
 text-align: center;
 font-size:18px;
 text-transform: uppercase;
 transition: all 0.5s;
}
.item_list:hover
{
 box-shadow:2px 8px 25px black;
 transform: scale(1.05);
 cursor: pointer; 
}
.item_list .view
{
 float: left;
 margin-left: 15px;
}
.item_list .add_to_cart
{
 float:right;
 background-color: black;
 padding:5px;
 color:white;
 border-radius: 3px;
}
@keyframes fader {
    0% {
      opacity:0.5;
    }
    100% {
      opacity:1;
    }
  }