.row
{
 display: flex;
 justify-content: center;
 padding:5px;
 transition:0.5s;
 animation:fader 1s; 
}
.row > div
{
 padding:0 5px;
 transition: 0.5s all; 
}
.row > div:hover
{
 transition: 0.5s all;
 transform: scale(1.01);
 box-shadow: 5px 5px 15px black;
}

.headers
{
 display: flex;
 justify-content: center;
 align-items: center;
 text-transform: uppercase;
 font-size:24px;
 font-weight: bold;
 padding:25px 0;
}

.underline
{
 text-decoration: underline;
}
.goodItem
{
 text-align: center;
 font-size:22px;
 font-weight: bold;
 color:black;
 text-decoration:none;
 padding:5px;
 transition: 1s all; 
}
.goodItem:hover
{
 transition: 0.5s all;
 transform: scale(1.05);
}
.goodItem div
{
 padding:5px;
}
@keyframes fader {
    0% {
      opacity:0.5;
    }
    100% {
      opacity:1;
    }
  }