main
{
 display: flex;
 flex-direction: column;
}
.row
{
 display: flex;
 justify-content: space-around;
}
.goodsList
{
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
}
.goodItem
{
 text-align:center;
 padding:15px;
}
.filter
{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 padding:25px;
 font-size:22px;
 width: 30%;
}
.inputs
{
 width:75px;
}