<main>
  <div class = "properties">
   <div class = "price_filter">Price</div>
   <div>Sort by</div>
   <ul class="properties_filter">
    <li><label><input type="checkbox" name="" value="popularity">popularity</label></li>
    <li><label><input type="checkbox" name="" value="popularity">average rating</label></li>
    <li><label><input type="checkbox" name="" value="popularity">newness</label></li>
    <li><label><input type="checkbox" name="" value="popularity">price:low to high</label></li>
    <li><label><input type="checkbox" name="" value="popularity">price:high to low</label></li>
   </ul>
  </div>  
  
  
  <div class="tovary">
   <div class="header_cat">rings</div>
   <div class="arrivals_list">
  
      <div class="item_list">
       <img src="../assets/images/common/new_arrivals.png">
       <p>cross rose</p>
       <p>179$</p>
       <div>
        <div class="view">View</div>
        <div class="add_to_cart">add to cart</div>
       </div>
      </div> 
      
      <div class="item_list">
       <img src="../assets/images/common/new_arrivals.png">
       <p>cross rose</p>
       <p>179$</p>
       <div>
        <div class="view">View</div>
        <div class="add_to_cart">add to cart</div>
       </div>
      </div>  
      <div class="item_list">
       <img src="../assets/images/common/new_arrivals.png">
       <p>cross rose</p>
       <p>179$</p>
       <div>
        <div class="view">View</div>
        <div class="add_to_cart">add to cart</div>
       </div>
      </div>
                <div class="item_list">
       <img src="../assets/images/common/new_arrivals.png">
       <p>cross rose</p>
       <p>179$</p>
       <div>
        <div class="view">View</div>
        <div class="add_to_cart">add to cart</div>
       </div>
      </div>
      <div class="item_list">
       <img src="../assets/images/common/new_arrivals.png">
       <p>cross rose</p>
       <p>179$</p>
       <div>
        <div class="view">View</div>
        <div class="add_to_cart">add to cart</div>
       </div>
      </div>
              <div class="item_list">
       <img src="../assets/images/common/new_arrivals.png">
       <p>cross rose</p>
       <p>179$</p>
       <div>
        <div class="view">View</div>
        <div class="add_to_cart">add to cart</div>
       </div>
      </div>
  
      <div class="item_list">
       <img src="../assets/images/common/new_arrivals.png">
       <p>cross rose</p>
       <p>179$</p>
       <div>
        <div class="view">View</div>
        <div class="add_to_cart">add to cart</div>
       </div>
      </div>     
  
      <div class="item_list">
       <img src="../assets/images/common/new_arrivals.png">
       <p>cross rose</p>
       <p>179$</p>
       <div>
        <div class="view">View</div>
        <div class="add_to_cart">add to cart</div>
       </div>
      </div>    
  
      <div class="item_list">
       <img src="../assets/images/common/new_arrivals.png">
       <p>cross rose</p>
       <p>179$</p>
       <div>
        <div class="view">View</div>
        <div class="add_to_cart">add to cart</div>
       </div>
      </div> 
  
      <div class="item_list">
       <img src="../assets/images/common/new_arrivals.png">
       <p>cross rose</p>
       <p>179$</p>
       <div>
        <div class="view">View</div>
        <div class="add_to_cart">add to cart</div>
       </div>
      </div>    
     </div>  
    </div>   
  </main>
  