<header-app></header-app>
<main>
 <div class="row">
  <div class="filter">
   <div>Price</div>
   <div>
    <input type = "text" placeholder="from" class="inputs">
    <input type = "text" placeholder="to" class="inputs">
   </div>
   <div>Sort by</div>
   <label><input type="radio" name="filter_type">popularity</label>
   <label><input type="radio" name="filter_type">average rating</label>
   <label><input type="radio" name="filter_type">newness</label>
   <label><input type="radio" name="filter_type">price:low to high</label>
   <label><input type="radio" name="filter_type">price:high to low</label>
  </div>
  <div class="goodsList">
   <div *ngFor = "let good of goodList">
    <app-goodItem [goodInput] = good></app-goodItem>
   </div>   
  </div>
 </div>
</main>
<footer-app></footer-app>

  