.adminMenu
{
 position: absolute;
 left:0;
 top:50px;
 height: 99%;
 width:200px;
 background-color: #ffffff;
 list-style: none;
 padding:0;
}
.adminMenu li
{
 font-size:22px;
 margin-top:50px;
 margin-left:50px;
 padding:15px;
 font-family: 'Open Sans';
 text-align: center;
}
.adminMenu li:hover
{
 background-color: #000000;
}
.adminMenu li:hover a
{
 color:white;
 cursor: pointer;
}
.adminMenu li a
{
 text-decoration: none;
 color:black;
}

