main
{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}
.row
{
 display: flex;
 justify-content: center;
}
.col
{
 display: flex;
 flex-direction: column;
 width: 33%;
}
.col div
{
 padding: 15px;
}
.centered
{
 justify-content: center;
}
.bolder
{
 font-weight: bold;
 font-size:20px;
}
.goodName
{
 padding:15px;
 font-weight: bold;
 font-size:24px;
}
.goodImg
{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.goodImg div
{
 padding:10px;
}