main
{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}
@media screen and (min-width: 500px)
{
 .row
 {
  display: flex;
  justify-content: center;
 }
}
@media screen and (max-width: 500px)
{
 .row
 {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
}

@media screen and (min-width:500px)
{
 .col
 {
  display: flex;
  flex-direction: column;
  width: 33%;
 }
}
@media screen and (min-width:500px)
{
 .col
 {
  display: flex;
  flex-direction: column;   
 }
}
.col div
{
 padding: 15px;
}
.centered
{
 justify-content: center;
}
.bolder
{
 font-weight: bold;
 font-size:20px;
}
.goodName
{
 padding:15px;
 font-weight: bold;
 font-size:24px;
}
.goodImg
{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.goodImg div
{
 padding:10px;
}
.button
{
 font-size:18px;
 background:#e14521;
 padding:5px 15px;
 margin-bottom:25px;
}
.button:hover
{
 box-shadow: 1px 1px 1px black;
}